:root {
	--color-base-white: #ffffff;
	--color-base-gray-100: #e1e1e6;
	--color-base-gray-200: #8c8c99;
	--color-base-gray-300: #7c7c8a;
	--color-base-gray-400: #323238;
	--color-feedback-sucess-color: #1d8841;
	--color-produto-purple-light: #8257e5;
	--color-produto-purple-mid: #633bbc;

    font-size: 62.5%;
}

* {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}